@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type="radio"] {
  vertical-align: text-bottom;
}

input [type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input [type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input[type="checkbox"] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type="button"],
input[type="submit"],
input[type="file"],
button {
  cursor: pointer;
}

button,
input[type="button"] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
body {
  background-color: white;
  overflow-x: hidden;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.home section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home section img {
  width: 50%;
  height: 30rem;
}

.home section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.home section div hr {
  width: 75%;
}

.home section div p {
  width: 70%;
}

.workouts .title {
  text-align: center;
}

.workouts .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 20px;
}

.workouts .chest {
  width: 25rem;
  height: 35rem;
  border: black 1px solid;
  background-image: url("https://i.redd.it/6sv3euhb99p71.jpg");
  background-size: cover;
}

.workouts .chest h2 {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  margin-top: 1rem;
}

.workouts .chest p {
  margin-top: 0.5rem;
  text-align: center;
  color: white;
}

.workouts .chest .btn-6 {
  width: 13rem;
  background-color: white;
  line-height: 42px;
  border: 1px solid black;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 23rem;
}

.workouts .chest .btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.workouts .chest .btn-6:before,
.workouts .chest .btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  -webkit-box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white, 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white, 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.workouts .chest .btn-6:before {
  right: 0;
  top: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.workouts .chest .btn-6:after {
  left: 0;
  bottom: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.workouts .chest .btn-6:hover {
  background: transparent;
  color: #89CFF0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
}

.workouts .chest .btn-6:hover:before {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  height: 100%;
}

.workouts .chest .btn-6:hover:after {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  height: 100%;
}

.workouts .chest .btn-6 span:before,
.workouts .chest .btn-6 span:after {
  position: absolute;
  content: "";
  -webkit-box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white, 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white, 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.workouts .chest .btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: .5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.workouts .chest .btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.workouts .chest .btn-6 span:hover:before {
  width: 100%;
}

.workouts .chest .btn-6 span:hover:after {
  width: 100%;
}

.workouts .legs {
  width: 25rem;
  height: 35rem;
  border: black 1px solid;
  background-image: url("https://i.redd.it/6sv3euhb99p71.jpg");
  background-size: cover;
}

.workouts .legs h2 {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  margin-top: 1rem;
}

.workouts .legs p {
  margin-top: .5rem;
  text-align: center;
  color: white;
}

.workouts .legs .btn-6 {
  width: 13rem;
  background-color: white;
  line-height: 42px;
  border: 1px solid black;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 23rem;
}

.workouts .legs .btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.workouts .legs .btn-6:before,
.workouts .legs .btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  -webkit-box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white, 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white, 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.workouts .legs .btn-6:before {
  right: 0;
  top: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.workouts .legs .btn-6:after {
  left: 0;
  bottom: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.workouts .legs .btn-6:hover {
  background: transparent;
  color: #89CFF0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
}

.workouts .legs .btn-6:hover:before {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  height: 100%;
}

.workouts .legs .btn-6:hover:after {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  height: 100%;
}

.workouts .legs .btn-6 span:before,
.workouts .legs .btn-6 span:after {
  position: absolute;
  content: "";
  -webkit-box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white, 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white, 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.workouts .legs .btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: .5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.workouts .legs .btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.workouts .legs .btn-6 span:hover:before {
  width: 100%;
}

.workouts .legs .btn-6 span:hover:after {
  width: 100%;
}

.workouts .back {
  width: 25rem;
  height: 35rem;
  border: black 1px solid;
  background-image: url("https://i.redd.it/6sv3euhb99p71.jpg");
  background-size: cover;
}

.workouts .back h2 {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  margin-top: 1rem;
}

.workouts .back p {
  margin-top: .5rem;
  text-align: center;
  color: white;
}

.workouts .back .btn-6 {
  width: 13rem;
  background-color: white;
  line-height: 42px;
  border: 1px solid black;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 23rem;
}

.workouts .back .btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.workouts .back .btn-6:before,
.workouts .back .btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  -webkit-box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white, 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white, 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.workouts .back .btn-6:before {
  right: 0;
  top: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.workouts .back .btn-6:after {
  left: 0;
  bottom: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.workouts .back .btn-6:hover {
  background: transparent;
  color: #89CFF0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
}

.workouts .back .btn-6:hover:before {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  height: 100%;
}

.workouts .back .btn-6:hover:after {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  height: 100%;
}

.workouts .back .btn-6 span:before,
.workouts .back .btn-6 span:after {
  position: absolute;
  content: "";
  -webkit-box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white, 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white, 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.workouts .back .btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: .5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.workouts .back .btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.workouts .back .btn-6 span:hover:before {
  width: 100%;
}

.workouts .back .btn-6 span:hover:after {
  width: 100%;
}

.banner {
  width: 100%;
  border-bottom: 1px solid #00aeff;
  background-color: #26272b;
  height: 40rem;
}

.banner img {
  width: 100%;
  height: 40rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.row .about {
  width: 50%;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.navbar {
  position: absolute;
  top: 1.5rem;
  left: 3rem;
  font-size: 1.2rem;
  font-weight: bolder;
  color: white;
  width: 70%;
  padding: 10px;
}
/*# sourceMappingURL=index.css.map */